@media screen and (min-width: 1024px) {
  .actionsContain {
    width: 95%;
  }
  .actionItem {
    width: 33.33%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  .actionsContain {
    width: 90%;
  }
  .actionItem {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .actionsContain {
    width: 95%;
  }
  .actionItem {
    width: 100%;
  }
}

.actionsContain {
  display: flex;
  flex-flow: row wrap;
  max-width: 1024px;
  margin: 100px auto 50px; 
}
.actionItem {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
}
.actionCard {
  background-color:  white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
  border-radius: 3px;
  flex: 1;
  overflow: hidden;
}
.innerActionCard {
  flex: 1;
  height: 100%;
  width: 100%;
}
.actionItemImage {
  width: 100%;
  max-height: 170px;
  object-fit: cover;
  margin-bottom: -5px;
}
.actionItemTitle {
  font-size: 16px;
  margin: 12px 15px 10px;
  color: #333;
}
.actionItemTagsContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 15px 10px;
}
.actionItemTag {
  border: 2px solid #243e5d;
  font-weight: bold;
  font-size: 14px;
  color: #243e5d;
  padding: 2px 8px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
}
.addActionButton {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  margin: auto;
  padding: 15px 15px 25px;
  border: 4px solid #243e5d;
  color: #243e5d;
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.addActionButton:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px, rgba(0, 0, 0, 0.15) 0px 1px 4px;
}
.addActionButton span {
  font-size: 1.5em;
  line-height: 1em;
}